:hover,
 :active,
 :focus {
    outline: none;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.post__button {
    color: white;
    background-color: #1F7386;
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    transition: .7s;
}

.post__button:hover {
    background-color: #5D8F9B;
}